body{
    margin: 20px;
}

/* Quitar subrayado de todos los enlaces dentro de listas */
ul li a {
  text-decoration: none; /* Quita subrayado */
}

.formulario_busqueda{
    margin-top: 20px;
}
.img_margen{
    margin-top: 15px;
}

span{
    font-weight: bold;
}

.img_Killer_Mushrooms{
    width: 90%;
    height: auto;
}